{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	- Homepage
{% endblock %}

{% block content %}
	<h1>Homepage</h1>





	{# <div>
		{{ render_chart(chart) }}
	</div> #}
{% endblock %}
