<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">BEDEV >_<</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Features par technologies
					</a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#">PHP <i class="fab fa-php php-logo"></i></a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Symfony <i class="fab fa-symfony"></i></a>
						</li>
						<li class="second-text-color"><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="#">JS <i class="fab fa-node-js js-logo"></i></a>
						</li>
						<li>
							<a class="dropdown-item" href="#">CSS <i class="fab fa-css3-alt css-logo"></i></a>
						</li>
					</ul>
				</li>

				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="#">S'identifier <i class="fas fa-user-alt"></i></a>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Chercher sur le site" aria-label="Search">
				<button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
			</form>
		</div>
	</div>
</nav>
